html {
    font-family: monospace;
    color: azure;
    text-shadow: 2px grey;
    background: url("https://wallpapercave.com/wp/StoMaHt.jpg") repeat 0 0;
    -webkit-animation: slide 60s linear infinite;
    -webkit-transform: scale(1,1);
}
@-webkit-keyframes slide {
    from { background-position: 1000px, 0;} 
    to {background-position: -1000px, 0;}
}
h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 13%;
    font-size: 100px;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #83ffbb 0%,
        #dcfbfd 29%,
        #86f895 67%,
        #f0efe9 100%
        );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: rgb(180, 208, 245);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 20s linear infinite;
    display: inline-block;
    padding-left: 2%;
}
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
nav{
    display: flex;
    padding-top: 5%;
    justify-content: space-evenly;
    font-size: large;
}
a:hover{
    border-left: 2px whitesmoke solid;
    border-right: 2px whitesmoke solid;
    color: #86f895;
    padding: 1vh;
}
a:link{
    color: aliceblue;
    text-decoration: none;
}
a:visited{
    color: aquamarine;
}
a:hover{
    color:#86f895
}
.cage{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.pictures{
    display: flex;
    height: 300px;
    width: 200px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
}
.pictures:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    border: none;
}
footer{
    display: flex;
}